parameters:
	ignoreErrors:
		-
			message: '#^Offset ''project_version'' on array\{\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Command/ConfigCommand.php

		-
			message: '#^Path in include\(\) "version\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: src/Command/ConfigCommand.php

		-
			message: '#^Parameter \#2 \$rows of method KVS\\CLI\\Command\\BaseCommand\:\:renderTable\(\) expects list\<list\<int\|string\|null\>\>, array\{array\{''Title'', mixed\}, array\{''Status'', string\}, array\{''Images'', int\|string\|false\|null\}, array\{''Posted'', non\-falsy\-string\}, array\{''Views'', string\}, array\{''Rating'', non\-falsy\-string\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/AlbumCommand.php

		-
			message: '#^Parameter \#1 \$items of method KVS\\CLI\\Output\\Formatter\:\:display\(\) expects list\<array\<string, mixed\>\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/CategoryCommand.php

		-
			message: '#^Parameter \#2 \$rows of method KVS\\CLI\\Command\\BaseCommand\:\:renderTable\(\) expects list\<list\<int\|string\|null\>\>, array\{array\{''ID'', mixed\}, array\{''Title'', mixed\}, array\{''Parent ID'', mixed\}, array\{''Status'', ''Active''\|''Inactive''\}, array\{''Videos'', int\|string\|false\|null\}, array\{''Albums'', int\|string\|false\|null\}, array\{''Added'', mixed\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/CategoryCommand.php

		-
			message: '#^Parameter \#2 \$rows of method KVS\\CLI\\Command\\BaseCommand\:\:renderTable\(\) expects list\<list\<int\|string\|null\>\>, array\{array\{''ID'', string\|false\}, array\{''Title'', mixed\}, array\{''Parent ID'', mixed\}, array\{''Description'', mixed\}, array\{''Status'', ''Active''\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/CategoryCommand.php

		-
			message: '#^Parameter \#1 \$items of method KVS\\CLI\\Output\\Formatter\:\:display\(\) expects list\<array\<string, mixed\>\>, array\<array\{comment_id\: mixed, username\: mixed, object_type\: mixed, object_title\: mixed, comment\: mixed, added_date\: mixed\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/CommentCommand.php

		-
			message: '#^Parameter \#1 \$items of method KVS\\CLI\\Output\\Formatter\:\:display\(\) expects list\<array\<string, mixed\>\>, array\<array\{dvd_id\: mixed, id\: mixed, title\: mixed, status_id\: mixed, status\: string, total_videos\: mixed, videos\: mixed, total_videos_duration\: mixed, \.\.\.\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/DvdCommand.php

		-
			message: '#^Parameter \#1 \$items of method KVS\\CLI\\Output\\Formatter\:\:display\(\) expects list\<array\<string, mixed\>\>, array\<array\{model_id\: mixed, id\: mixed, title\: mixed, status_id\: mixed, status\: string, video_count\: mixed, videos\: mixed, album_count\: mixed, \.\.\.\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/ModelCommand.php

		-
			message: '#^Parameter \#1 \$items of method KVS\\CLI\\Output\\Formatter\:\:display\(\) expects list\<array\<string, mixed\>\>, array\<array\{tag_id\: mixed, tag\: mixed, video_count\: mixed, album_count\: mixed, total_usage\: \(array\|float\|int\), status_id\: mixed\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/TagCommand.php

		-
			message: '#^Parameter \#2 \$rows of method KVS\\CLI\\Command\\BaseCommand\:\:renderTable\(\) expects list\<list\<int\|string\|null\>\>, array\{array\{''ID'', string\|false\}, array\{''Name'', non\-empty\-string\}, array\{''Status'', ''Active''\}\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/TagCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\UserCommand\:\:escapeYAML\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\UserCommand\:\:getFieldValue\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 3
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\VideoCommand\:\:getFieldValue\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Parameter \#1 \$items of method KVS\\CLI\\Output\\Formatter\:\:display\(\) expects list\<array\<string, mixed\>\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Parameter \#2 \$rows of method KVS\\CLI\\Command\\BaseCommand\:\:renderTable\(\) expects list\<list\<int\|string\|null\>\>, non\-empty\-list\<array\{''Active Videos''\|''Average Rating''\|''Total Duration''\|''Total Size''\|''Total Videos''\|''Total Views'', string\|false\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Parameter \#1 \$haystack of function stripos expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Database/ExportCommand.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 5
			path: src/Command/Database/ExportCommand.php

		-
			message: '#^Strict comparison using \!\=\= between numeric\-string and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Command/Dev/DebugCommand.php

		-
			message: '#^Strict comparison using \!\=\= between string and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Command/Dev/DebugCommand.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: src/Command/PluginCommand.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 2
			path: src/Command/PluginCommand.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Command/PluginCommand.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, mixed given\.$#'
			identifier: ternary.condNotBoolean
			count: 8
			path: src/Command/PluginCommand.php

		-
			message: '#^Call to function array_key_exists\(\) with ''name'' and array\{name\: string, browser_download_url\: string\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Parameter \#1 \$db of method KVS\\CLI\\Command\\ShellCommand\:\:getShellVariables\(\) expects mysqli\|null, PDO\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/ShellCommand.php

		-
			message: '#^Parameter \#2 \$value of method KVS\\CLI\\Command\\System\\CheckCommand\:\:printStatus\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/System/CheckCommand.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Command/Video/FormatsCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Video\\FormatsCommand\:\:getFormatsFromDatabase\(\) should return list\<array\<string, mixed\>\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Command/Video/FormatsCommand.php

		-
			message: '#^Parameter \#1 \$haystack of function str_contains expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Video/FormatsCommand.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: src/Command/Video/FormatsCommand.php
