parameters:
	ignoreErrors:
		-
			message: '#^Casting to bool something that''s already bool\.$#'
			identifier: cast.useless
			count: 1
			path: src/Command/CompletionCommand.php

		-
			message: '#^Cannot access offset ''status_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/CategoryCommand.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/CategoryCommand.php

		-
			message: '#^Part \$entityDisplayName \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Command/Content/CategoryCommand.php

		-
			message: '#^Cannot access offset ''status_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/TagCommand.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/TagCommand.php

		-
			message: '#^Part \$entityDisplayName \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Command/Content/TagCommand.php

		-
			message: '#^Cannot access offset ''activity'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''added_date'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''birth_date'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''country_code'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''display_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''email'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''gender_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''ip'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''last_login_date'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''logins_count'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''profile_viewed'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''status_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''tokens_available'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''tokens_required'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''user_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot access offset ''username'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 13
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 13
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\UserCommand\:\:escapeYAML\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\UserCommand\:\:getFieldValue\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\UserCommand\:\:getFieldValue\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 2
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Parameter \#1 \$string of function KVS\\CLI\\Utils\\truncate expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Parameter \#1 \$string of function md5 expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 3
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Part \$user\[''username''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Command/Content/UserCommand.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 5
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Method KVS\\CLI\\Command\\Content\\VideoCommand\:\:getFieldValue\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 2
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Parameter \#1 \$string of function KVS\\CLI\\Utils\\truncate expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Parameter \#2 \$rows of method KVS\\CLI\\Command\\BaseCommand\:\:renderTable\(\) expects list\<list\<int\|string\|null\>\>, non\-empty\-list\<array\{''Active Videos''\|''Average Rating''\|''Total Duration''\|''Total Size''\|''Total Videos''\|''Total Views'', string\|false\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Command/Content/VideoCommand.php

		-
			message: '#^Call to function array_key_exists\(\) with ''name'' and array\{name\: string, browser_download_url\: string\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Casting to bool something that''s already bool\.$#'
			identifier: cast.useless
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Parameter \#1 \$path of function realpath expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Strict comparison using \!\=\= between bool and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Strict comparison using \=\=\= between bool and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Command/SelfUpdateCommand.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 36
			path: src/Command/System/QueueCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 7
			path: src/Command/System/QueueCommand.php

		-
			message: '#^Casting to string something that''s already string\.$#'
			identifier: cast.useless
			count: 7
			path: src/Command/System/QueueCommand.php

		-
			message: '#^Parameter \#1 \$array \(non\-empty\-list\<non\-empty\-array\<string, mixed\>\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 2
			path: src/Command/System/QueueCommand.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/System/QueueCommand.php
